.list-brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:740px;
    padding:10px 30px;
    margin:30px;
    background:white;
    border-radius:6px;
}

.listbrand-format-main{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    gap:10px;
    width:100%;
    padding:20px 0px;
    color:#454545;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.listbrand-format{
    align-items: center;
    font-weight: 500;
}

.listbrand-brand-icon{
    height:80px;
}

.listbrand-remove-icon{
    cursor: pointer;
    margin:auto;
    
}

.listbrand-edit-icon{
    cursor: pointer;
    height:20px;
    width:20px;
}
.listbrand-allbrands{
    overflow-y:auto;
}
@media(max-width:800px){
    .list-brand{
        box-sizing: border-box;
        width:95%;
        height:100%;
        padding:10px 30px;
        margin:20px auto;
    }

    .listbrand-format-main{
        padding:15px 0px;
        color:#454545;

    }

    .listbrand-brand-icon{
        height:60px;
    }
    

}