.Items{
    width:280px;

}
.Items img{
    width:280px;
    height:280px;
}
.Items p{
    margin:6px 0px;

}

.item-prices{
    display:flex;
    gap:20px;

}
.item-prices-new{
    color:#374151;
    font-size:18px;
    font-weight:600;
}
.item-prices-old
{
    color:#8c8c8c;
    font-size:18px;
    font-weight:600;
    text-decoration: line-through;
}

.Items:hover{
    transform:scale(1.05);
    transition: 0.6s;

}

@media(max-width:1280px)
{
    .Items{
        width:220px;
        font-size:14px;
    }
    .Items img{
        width:220px;
    }

    .item-prices-old{
        font-size:14px;
    }
}

@media(max-width:1024px)

{
    .Items{
        width:170px;
        font-size:13px;
    }

    .Items  img{
        width:170px;
    }
    .item-prices-old{
        font-size:13px;
    }
}

@media(max-width:800px)

{
    .Items{
        width:120px;
        font-size:12px;
    }

    .Items  img{
        width:120px;
    }
    .item-prices-old{
        font-size:12px;
    }
}

@media(max-width:500px)

{
    .Items{
        width:180px;
        
    }

    .Items img{
        width:180px;
    }
    
}

