
.addproduct-sidebyside{
    display:flex;
    gap:40px;
}

.add-product-selector{
    padding:10px;
    width:300px;
    height:50px;
    font-size:14px;
    color:#7b7b7b;
    border: 1px solid #7b7b7b8d;
    border-radius: 4px;
}


.image-container{
    display:flex;
    
}
.remove-image-btn{
    width:30px;
    height:30px;
    margin-left:5px;
}



